<template>
    <div>
        <p>{{ txt }}</p>
        <liste></liste>
    </div>
</template>

<script>
    import Liste from './Liste.vue'

    export default {
        name: 'Contenu',
        data: function(){
            return {
                txt: 'Bonjour, mon Curriculum vitae en VueJs'
            }
        },
        components: {
            'liste': Liste
        }
    }
</script>

<style></style>