<template>
    <ul class="liste">
        <li v-for="(lang, index) in lang" v-bind:key="index">{{ lang }}</li>
    </ul>
</template>

<script>
    export default {
        name: 'Liste',
        data(){
            return {
                lang: ['PHP', 'HTML', 'CSS', 'JavaScript']
            }
        }
    }
</script>

<style scoped src="./css/lang.css">
   body {
    background: rebeccapurple;
}
</style>