<template>
  <div class="container" id="app">
    <img alt="Vue logo" src="./assets/logo.png" width="200px" height="200px">
    <contenu></contenu>
  </div>
</template>

<script>

import Contenu from './components/Contenue'

export default {
  name: 'App',
  components: {
    'contenu': Contenu
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
